.form{
    min-height: 100px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    gap: 20px;
}
.form input{
    flex: 1;
    padding: 10px;
    font-size: 20px;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
}
.form button{
    padding: 10px 15px;
    cursor: pointer;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
}
.contanier{
    width: min(100%,800px);
    padding: 40px;
    margin: auto;
}
.groub{
    display: flex;
    justify-content: space-between;
    align-items: center;
}